/* Comment goes here */
html{
    font-family: Arial;
    background-image: linear-gradient(to bottom right, cyan, rgb(0, 153, 255));
}
b ul ol{
    font-size: 12px;
}
aside{
    width: 60%;
    float: right;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
.aside-left{
    float: left;
}
.img-buttons {
    border-radius: 60%;
    width: 70px;
    height: 70px;
  }