/* Comment goes here */
html{
    background-color: cyan;
    font-family: Arial;
}
b ul ol{
    font-size: 12px;
}
p{

}
aside{
    width: 60%;
    float: right;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.img-buttons {
    border-radius: 60%;
    width: 60px;
    height: 60px;
  }